<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin/owners">All Owners</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{owner.first_name}} {{owner.last_name}}</li>
  </ol>
</nav>

<h2>Owner Overview</h2>
<div class="" *ngIf="isloading">
  <app-loading></app-loading>
</div>

<div class="" *ngIf="!isloading">
  <pre>
Name: {{owner.first_name}} {{owner.last_name}}
<app-address [type]="'block'" [address]="owner.address"></app-address>
Phone: {{owner.phone}}
Email: {{owner.email}}
Average Rating: {{getAvgRating}}
  </pre>
  <h3>Centers</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Avg Rating</th>
      </tr>
    </thead>
    <tbody *ngIf="!isloading">
      <tr *ngFor="let center of owner.properties; let i=index">
        <th scope="row">{{i+1}}</th>
        <td><a routerLink="centers/{{center.name}}">{{center.name}}</a></td>
        <td>{{getCenterRating(center.name)}}</td>
        <!-- <td><app-address [type]="'inline'" [address]="center.address"></app-address></td> -->
      </tr>
    </tbody>
  </table>
</div>
