<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/owner/centers">All Centers</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{center_name}}</li>
  </ol>
</nav>

<h2>Center Overview</h2>
<div class="" *ngIf="isloading">
  <app-loading></app-loading>
</div>

<div class="" *ngIf="!isloading">
  <pre>
    <strong>{{center.name}}</strong>
    <app-address [type]="'block'" [address]="center.address"></app-address>
    Ave Rating: {{rating}}
  </pre>
</div>
