<div class="row" *ngIf="!filtered">
  <div class="col-md-12">
    <form style="margin-bottom: 10px;">
      <div class="row">
        <div class="col-md-11">
          <span>
            <input
              type="search"
              class="form-control"
              id="search-input"
              placeholder="Search Centre number/pincode/city/aggregate ratings/customer name/customer id number/customer location/Franchisee owner's name"
              aria-label="Search for..."
              autocomplete="off"
              spellcheck="false" />
          </span>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-primary btn-block" name="button">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>


<div class="row" *ngIf="!filtered">
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Total # of Centers</th>
          <th>Average Overall Ratings of All Centers</th>
          <th>Average Monthly Ratings of All Centers [Jan 2020]</th>
          <th>Total # of Seats Available from All Centers</th>
          <th>Current Total # of Customers from All Centers</th>
          <th>Current Total # of Vacancies from All Centers</th>
          <th>Total # of Visits from All Centers</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{centers.length}}</td>
          <td>4.21</td>
          <td>4.37</td>
          <td>{{total_seats.total}}</td>
          <td>{{total_seats.occupied}}</td>
          <td>{{total_seats.vacant}}</td>
          <td>459</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row" *ngIf="!filtered">
  <div class="col-md-8 col-sm-12">
    <app-programs [programs]="programs"></app-programs>
  </div>
</div>

<div class="" *ngIf="filtered" style="margin-bottom: 10px;">
  <button class="btn btn-primary btn-lg" type="button" name="button" (click)="closeWindow()">Close</button>
</div>
<div class="row">
  <div class="col-md-12">
    <app-centers [centers]="centers"></app-centers>
  </div>
</div>

<!-- <app-loading *ngIf="loading"></app-loading>
<div class="jumbotron" *ngIf="!loading">
  <div class="row w-100">
      <div class="col-md-4">
          <div class="card border-info mx-sm-1 p-3" [routerLink]="'/admin/owners'">
              <div class="card border-info shadow text-info p-3 my-card" ><span class="fa fa-user" aria-hidden="true"></span></div>
              <div class="text-info text-center mt-3"><h4>Owners</h4></div>
              <div class="text-info text-center mt-2"><h1>{{owner_count}}</h1></div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card border-success mx-sm-1 p-3" [routerLink]="'/admin/centers'">
              <div class="card border-success shadow text-success p-3 my-card"><span class="fa fa-home" aria-hidden="true"></span></div>
              <div class="text-success text-center mt-3"><h4>Centers</h4></div>
              <div class="text-success text-center mt-2"><h1>{{center_count}}</h1></div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card border-danger mx-sm-1 p-3" [routerLink]="'/admin/customers'">
              <div class="card border-danger shadow text-danger p-3 my-card" ><span class="fa fa-users" aria-hidden="true"></span></div>
              <div class="text-danger text-center mt-3"><h4>Customers</h4></div>
              <div class="text-danger text-center mt-2"><h1>{{customer_count}}</h1></div>
          </div>
      </div>
   </div>
</div> -->
