<h2>All Centers</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Street</th>
      <th scope="col">City</th>
      <th scope="col">Country</th>
    </tr>
  </thead>
  <tbody *ngIf="isloading">
    <tr>
      <td colspan="5">
        <app-loading></app-loading>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="!isloading">
    <tr *ngFor="let center of centers; let i=index">
      <th scope="row">{{i+1}}</th>
      <td>{{center.name}}</td>
      <td>{{center.address.street}}</td>
      <td>{{center.address.city}}</td>
      <td>{{center.address.country}}</td>
    </tr>
  </tbody>
</table>
