


<div class="content">
  <div class="row" style="margin-bottom: 10px">
    <div class="offset-md-2 col-md-8">
      <div id="custom-search-input">
        <div class="input-group">
            <input type="text" class="search-query form-control" placeholder="Search" />
            <span class="input-group-btn">
                <button type="button" disabled>
                    <span class="fa fa-search"></span>
                </button>
            </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-4">
          <div class="card-box">
              <div class="card-title">
                  <h2>Lorem ipsum dolor si.</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, </p>
              </div>
              <div class="card-link">
                  <a href="" class="c-link">Learn More
                      <i class="fa fa-angle-right"></i>
                  </a>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card-box">
              <div class="card-title">
                  <h2>Lorem ipsum dolor si.</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, </p>
              </div>
              <div class="card-link">
                  <a href="" class="c-link">Learn More
                      <i class="fa fa-angle-right"></i>
                  </a>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card-box">
              <div class="card-title">
                  <h2>Lorem ipsum dolor si.</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, </p>
              </div>
              <div class="card-link">
                  <a href="" class="c-link">Learn More
                      <i class="fa fa-angle-right"></i>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>
