<div class="content">
  <div class="row" style="margin-bottom: 10px">
    <div class="offset-md-2 col-md-8">
      <div id="custom-search-input">
        <form class="input-group" #f="ngForm" (submit)="searchCenters(f)">
            <input type="text" class="search-query form-control" placeholder="Search" name="search" id="search" ngModel/>
            <span class="input-group-btn">
                <button type="submit">
                    <span class="fa fa-search"></span>
                </button>
            </span>
        </form>
      </div>
    </div>
  </div>

  <app-loading *ngIf="isloading"></app-loading>

  <div class="row" *ngIf="!isloading">
    <div class="col-md-4 col-sm-12" *ngFor="let center of centers; let i=index">
        <div class="card-box">
            <div class="card-title">
                <h2><a routerLink="/center/{{center.owner_id}}/{{center.name}}">{{center.name}}</a></h2>
                <p><app-address [type]="'block'" [address]="center.address"></app-address></p>
                <p>Rating: {{aggregatedRatings[center.name] ? aggregatedRatings[center.name] : 'Not Rated'}}</p>
            </div>
            <div class="card-link" *ngIf="!isLoggedIn">
                <a routerLink="/enroll/{{center.owner_id}}/{{center.name}}" class="c-link">Enroll
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
  </div>
</div>
