<h2>Customers</h2>


<div class="row">
  <div class="col-md-6">
    CENTRE'S DETAILS: Z-02/ CATEGORY-B/ MAHABALIPURAM/ 23.02.2020
  </div>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Sl.No</th>
      <th>ID.No</th>
      <th>FIRST NAME</th>
      <th>SECOND NAME</th>
      <th>CABIN No.</th>
      <th>OVERALL AGGREGATE RATING</th>
      <th>NUMBER OF VISITS</th>
      <th>MONTHLY AGGREGATE RATING.JAN-2020</th>
      <th>NUMBER OF VISITS in Jan</th>
      <th>PROGRAM TYPE</th>
      <th>TENURE</th>
      <th>JOINING DATE</th>
      <th>PROGRAM STARTING</th>
      <th>PROGRAM ENDING ON</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers; let i=index">
      <td>{{i+1}}</td>
      <td><a routerLink="/admin/customers/{{customer.id}}" target="_blank" title="Customer Details">{{customer.cus_id}}</a></td>
      <td>{{customer.first_name}}</td>
      <td>{{customer.second_name}}</td>
      <td>{{customer.cabin}}</td>
      <td>4.54</td>
      <td>18</td>
      <td>4.75</td>
      <td>5</td>
      <td>{{customer.program}}</td>
      <td>{{customer.tenure}}</td>
      <td>{{customer.joining_date | date: 'dd.MM.yyyy'}}</td>
      <td>{{customer.prog_start_date | date: 'dd.MM.yyyy'}}</td>
      <td>{{customer.prog_end_date | date: 'dd.MM.yyyy'}}</td>
    </tr>
  </tbody>
</table>








<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Center</th>
      <th scope="col">Program</th>
    </tr>
  </thead>
  <tbody *ngIf="isloading">
    <tr>
      <td colspan="6">
        <app-loading></app-loading>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="!isloading">
    <tr *ngFor="let customer of customers; let i=index">
      <th scope="row">{{i+1}}</th>
      <td><a routerLink="{{customer.id}}">{{customer.first_name}} {{customer.middle_name}} {{customer.last_name}}</a></td>
      <td>{{customer.email}}</td>
      <td>{{customer.phone}}</td>
      <td>{{customer.center}}</td>
      <td>{{customer.program}}</td>
    </tr>
  </tbody>
</table> -->
