<h2>Customers</h2>


<div class="row">
  <div class="col-md-6">
    CENTRE'S DETAILS: Z-02/ CATEGORY-B/ MAHABALIPURAM/ 23.02.2020
  </div>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Sl.No</th>
      <th>ID.No</th>
      <th>FIRST NAME</th>
      <th>SECOND NAME</th>
      <th>CABIN No.</th>
      <th>OVERALL AGGREGATE RATING</th>
      <th>NUMBER OF VISITS</th>
      <th>MONTHLY AGGREGATE RATING.JAN-2020</th>
      <th>NUMBER OF VISITS in Jan</th>
      <th>PROGRAM TYPE</th>
      <th>TENURE</th>
      <th>JOINING DATE</th>
      <th>PROGRAM STARTING</th>
      <th>PROGRAM ENDING ON</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td><a routerLink="/admin/customers/-M-mMtEAJy_qIJK-R_rq" target="_blank" title="Customer Details">7</a></td>
      <td>JOHN</td>
      <td>DOE</td>
      <td>S-3</td>
      <td>4.54</td>
      <td>18</td>
      <td>4.75</td>
      <td>5</td>
      <td>SMALL</td>
      <td>6</td>
      <td>18.12.2019</td>
      <td>05.01.2020</td>
      <td>05.06.2020</td>
    </tr>
    <tr>
      <td>2</td>
      <td><a routerLink="/admin/customers/-M-mMtEAJy_qIJK-R_rq" target="_blank" title="Customer Details">14</a></td>
      <td>JAKE</td>
      <td>DOE</td>
      <td>M-6</td>
      <td>4.01</td>
      <td>12</td>
      <td>4.21</td>
      <td>3</td>
      <td>MEDIUM</td>
      <td>3</td>
      <td>25.12.2019</td>
      <td>05.01.2020</td>
      <td>05.04.2020</td>
    </tr>
    <tr>
      <td>3</td>
      <td><a routerLink="/admin/customers/-M-mMtEAJy_qIJK-R_rq" target="_blank" title="Customer Details">21</a></td>
      <td>JUSTIN</td>
      <td>CLIFF</td>
      <td>L-1</td>
      <td>3.12</td>
      <td>7</td>
      <td>4.9</td>
      <td>2</td>
      <td>LARGE</td>
      <td>9</td>
      <td>14.01.2020</td>
      <td>05.02.2020</td>
      <td>05.11.2020</td>
    </tr>
    <tr>
      <td>4</td>
      <td><a routerLink="/admin/customers/-M-mMtEAJy_qIJK-R_rq" target="_blank">28</a></td>
      <td>MADISON</td>
      <td>SEAN</td>
      <td>M-2</td>
      <td>3.56</td>
      <td>16</td>
      <td>4.63</td>
      <td>6</td>
      <td>MEDIUM</td>
      <td>6</td>
      <td>19.01.2020</td>
      <td>05.02.2020</td>
      <td>05.08.2020</td>
    </tr>
    <tr>
      <td>5</td>
      <td><a routerLink="/admin/customers/-M-mMtEAJy_qIJK-R_rq" target="_blank">36</a></td>
      <td>ADAM</td>
      <td>CLARK</td>
      <td>XXL-1</td>
      <td>3.42</td>
      <td>2</td>
      <td>3.6</td>
      <td>0</td>
      <td>XXL</td>
      <td>3</td>
      <td>22.02.2020</td>
      <td>05.03.2020</td>
      <td>05.06.2020</td>
    </tr>
  </tbody>
</table>








<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Center</th>
      <th scope="col">Program</th>
    </tr>
  </thead>
  <tbody *ngIf="isloading">
    <tr>
      <td colspan="6">
        <app-loading></app-loading>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="!isloading">
    <tr *ngFor="let customer of customers; let i=index">
      <th scope="row">{{i+1}}</th>
      <td><a routerLink="{{customer.id}}">{{customer.first_name}} {{customer.middle_name}} {{customer.last_name}}</a></td>
      <td>{{customer.email}}</td>
      <td>{{customer.phone}}</td>
      <td>{{customer.center}}</td>
      <td>{{customer.program}}</td>
    </tr>
  </tbody>
</table> -->
