<h2>Owners</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody *ngIf="isloading">
    <tr>
      <td colspan="5">
        <app-loading></app-loading>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="!isloading">
    <tr *ngFor="let owner of owners; let i=index">
      <th scope="row">{{i+1}}</th>
      <td><a routerLink="{{owner.id}}">{{owner.first_name}} {{owner.last_name}}</a></td>
      <td>{{owner.email}}</td>
      <td>{{owner.phone}}</td>
      <td><app-address [type]="'inline'" [address]="owner.address"></app-address></td>
    </tr>
  </tbody>
</table>
