<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-header></app-header>

      <!-- <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
        <a class="navbar-brand" [routerLink]="['/']">Rating System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLink]="['home']" routerLinkActive="active">
              <a class="nav-link">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item" [routerLink]="['list-property']" routerLinkActive="active">
              <a class="nav-link">List Your Property</a>
            </li>
            <li class="nav-item" [routerLink]="['login']" routerLinkActive="active">
              <a class="nav-link">Login</a>
            </li>
          </ul>
        </div>
      </nav> -->

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
