
<h2>CUSTOMER Overview</h2>

<div class="row">
  <div class="col-md-6">
    CUSTOMER INFORMATION: {{customer.cus_id}}/ {{customer.first_name}} {{customer.second_name}}/ {{customer.program}}/ {{ cur_date | date: 'dd/MM/yyyy'}}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID.No</th>
          <th>FIRST NAME</th>
          <th>SECOND NAME</th>
          <th>CABIN No.</th>
          <th>OVERALL AGGREGATE RATING</th>
          <th>NUMBER OF VISITS</th>
          <th>MONTHLY AGGREGATE RATING.JAN-2020</th>
          <th>NUMBER OF VISITS in Jan</th>
          <th>PROGRAM TYPE</th>
          <th>TENURE</th>
          <th>JOINING DATE</th>
          <th>PROGRAM STARTING</th>
          <th>PROGRAM ENDING ON</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{customer.cus_id}}</td>
          <td>{{customer.first_name}}</td>
          <td>{{customer.second_name}}</td>
          <td>{{customer.cabin}}</td>
          <td>4.54</td>
          <td>18</td>
          <td>4.75</td>
          <td>5</td>
          <td>{{customer.program}}</td>
          <td>{{customer.tenure}}</td>
          <td>{{customer.joining_date | date: 'dd.MM.yyyy'}}</td>
          <td>{{customer.prog_start_date | date: 'dd.MM.yyyy'}}</td>
          <td>{{customer.prog_end_date | date: 'dd.MM.yyyy'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <p>
      <a
        class="btn btn-primary"
        role="button"
        routerLink="/admin/customers/{{customer.cus_id}}/ratings"
        target="_blank">Visits and Ratings</a>
    </p>
    <p>
      <a
        class="btn btn-primary"
        role="button"
        routerLink="/admin/customers/{{customer.cus_id}}/details"
        target="_blank">Contacts and ID Details</a>
    </p>
  </div>
</div>




<!-- <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin/customers">All Customers</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{customer_name}}</li>
  </ol>
</nav>

<div class="" *ngIf="isloading">
  <app-loading></app-loading>
</div>

<div class="" *ngIf="!isloading">
  <pre>
Name: {{customer.first_name}} {{customer.middle_name}} {{customer.last_name}}
<app-address [type]="'block'" [address]="customer.address"></app-address>
<hr />
Gender: {{customer.gender}}
Phone: {{customer.phone}}
Email: {{customer.email}}
Birthday: {{customer.birth_anniversary.month}} {{customer.birth_anniversary.date}}
<hr />
Center Name: {{customer.center}}
Program: {{customer.program}}
Duration:
Date of Joining:
  </pre>
</div>

<h3>Rating History</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Program</th>
      <th scope="col">Center</th>
      <th scope="col">Rating</th>
      <th scope="col">Coments</th>
    </tr>
  </thead>
  <tbody *ngIf="isloading">
    <tr>
      <td colspan="6">
        <app-loading></app-loading>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="!isloading">
    <tr *ngFor="let rating of ratings; let i=index">
      <th scope="row">{{i+1}}</th>
      <td>{{rating.date | date:'fullDate'}}</td>
      <td>{{rating.program}}</td>
      <td>{{rating.center}}</td>
      <td>{{rating.rating}}</td>
      <td>{{rating.comment}}</td>
    </tr>
  </tbody>
</table> -->
