<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin/customers">All Customers</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{customer_name}}</li>
  </ol>
</nav>

<div class="" *ngIf="isloading">
  <app-loading></app-loading>
</div>

<div class="" *ngIf="!isloading">
  <pre>
    {{customer.first_name}}
    {{customer.middle_name}}
    {{customer.last_name}}
    <app-address [type]="'block'" [address]="customer.address"></app-address>
    {{customer.center}}
    {{customer.gender}}
    {{customer.phone}}
    {{customer.email}}
    {{customer.program}}
    {{customer.birth_anniversary.date}}
    {{customer.birth_anniversary.month}}
  </pre>
</div>
